html {
    height: 100%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Helvetica Neue", "Open Sans", Arial, sans-serif;
  font-size: 24px;
  background: -webkit-linear-gradient(white, #ccc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #ccc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #ccc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #ccc); /* Standard syntax */
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 800px;
}

h1 {
	margin-bottom: 0;
}

h2 {
	font-size: 25px;
}

#content {
	display: block;
	padding: 0;
	margin: 0;
}

#tickometer {
	display: block;
	background: transparent url(images/tickometer.png) no-repeat;
	width: 800px;
	height: 140px;
	padding: 0;
	margin: 0;
}

#tickometer.lazy-git { background-position: 0px 0px; }
#tickometer.crap { background-position: 0 -140px; }
#tickometer.betterer { background-position: 0 -280px; }
#tickometer.much-excite { background-position: 0 -420px; }
#tickometer.almost-all-the-things { background-position: 0 -560px; }
#tickometer.amazeballs { background-position: 0 -700px; }

#timesheet { width: 200px; }
#timesheet ul { list-style: none;  }
#timesheet ul li { }
#timesheet ul li p { padding:4px; font-size: 16px; border-left: 5px solid #999; }